.logo{
    width: 19.2px; 
    height: auto;
}
.tag-line{
    width: 80px;
    height: auto;
}
.navbar{
    background: #FAFAFA;
    padding-top: 32px !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 22px 32px !important;
    padding-bottom: 0px !important;
}


@media only screen and (max-width: 500px){
    .navbar{
        padding-top: 18px !important;
        padding-bottom: 18px !important; 
    }

}
Nav .link{
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #69ABE8  !important;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px 16px;
    margin-right: 7.62px; 
}
Nav .link:hover{
    text-decoration: none;
    color: #69ABE8  !important;
    border: 1px solid #69ABE8;
    transition: 0.5s;
}

.arrow-ml{
    margin-left: 14px;
}

.social-link-margin{
    margin-left: 9.23px;
}
.social-link-margin:hover{
    opacity: 0.5;
    transition: 0.4s;
}


.navbar a{
    color: #787878;
}

.nav-select{
    padding: 8px 15px;
    background: white;
}

.navbar select{
    color: #69ABE8;
    border: none;
    width: 105px;
    padding: 0px;
    

}

.navbar select:focus{
    
    outline: none;

}


.navbar h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 24px;
    outline: none;
    border: none ;
    border-radius: 3px;
    color: #737373;
        margin: 0;
    padding-left: 15vw;
}




@media only screen and (max-width: 1441px){
    .navbar h3{
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        padding: 8px 24px !important;
        outline: none !important;
        border: none  !important;
        border-radius: 3px !important;
        padding-left: 22vw !important;
    }
}

@media only screen and (max-width: 991px){
    .link{
    display: none;
}

.tag-line{
    display: none;
}

}


