

.navbar{
    background: #FAFAFA;
    padding-top: 32px !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}


@media only screen and (max-width: 500px){
    .navbar{
        padding-top: 18px !important;
        padding-bottom: 18px !important; 
    }

}


.navbar a{
    color: #787878;
    margin-left: 1.6vw;
}

.nav-select{
    padding: 8px 15px;
    background: white;
}

.navbar select{
    color: #69ABE8;
    border: none;
    width: 105px;
    padding: 0px;
    

}

.navbar select:focus{
    
    outline: none;

}


.nav-logo{

    padding-left: 12em;
   
}


@media only screen and (max-width: 767px){
    .nav-logo{

        padding-left: 0px;
       
    }
    
}


.navbar h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 24px;
    outline: none;
    border: none ;
    border-radius: 3px;
    color: #103959;

}



@media only screen and (max-width: 1441px){
    .navbar h3{
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        padding: 8px 24px !important;
        outline: none !important;
        border: none  !important;
        border-radius: 3px !important;
        color: #103959;
    }
}



