.team-start{
    margin-top: 12px;
    background: #F8F8F6;
    border-radius: 2px;
}

.team-start .title{
    padding-top: 85px;
    padding-bottom: 57px;
}

.down-arrow{
    padding-bottom: 95px;
    padding-top: 66px;
}

.team-desc h3{
    font-family: "DM sans",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #565656;
    padding-top: 24px;
    padding-bottom: 17px;
}

.team-desc h4{
    font-family: "DM sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 16px;
    color: #565656;
    margin-bottom: 12px;
}