
.margin{
    overflow-x: hidden !important;
    margin: 12px !important;
    margin-bottom: 0px !important;
  }
  
  @media only screen and (max-width: 767px){
    .margin{
      margin: 8px !important;
      margin-bottom: 0px !important;
    }
  }
  