#improvement-div{
    padding-top: 142px;
    padding-bottom: 142px;
}
#improvement-div h1{
    text-align: center;
    font-family: "DM sans",sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    
}
#improvement-div p{
    text-align: center;
    font-family: "DM sans",sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.disc-link{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
/* identical to box height, or 133% */


/* Fill / Scorpion */

    color: #565656;
}