.product-div{
    margin-top: 12px;
    padding-top: 96px;
    padding-bottom: 80px;
    background: #FAFAFA;
}


.product-div h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    color: #787878;
    
    max-width: 470px;
    

}

.product-div h2{

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #787878;

    margin-top: 32px;


}



.product-card{
    border: 1px solid rgba(120, 120, 120, 0.2);
    border-radius: 4px;
    

    padding-top:32px;
    padding-left: 32px ;
    padding-bottom: 60px;


    text-align: left;
    color: #787878;
}

.r1{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px
}

.r2{
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;

    margin-top: 20px;
}

.r3{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    margin-top: 28px;
}


.under-card{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #787878;
    opacity: 0.5;
    margin-top: 40px;
}

@media only screen and (max-width:767px){
    .product-div h1{

        font-size: 30px;
        line-height: 38px;
    }

    .product-div h2{
        font-weight: 500;
        font-size: 17px;

        max-width: 285px;
        margin-top: 30px !important;
        margin-left: auto !important;
        margin-right:  auto !important;
        
    }

    .mobile-scroll > .row{
        overflow-x: scroll;
        white-space: nowrap;
        flex-wrap: nowrap;

        
    }

    .mobile-scroll > .row > .col {
        display: inline-block;
        float: none;
    }
    .product-card{
        margin-right: 12px;
    }

}