
.vision-div{
    margin-top: 84px;
    margin-bottom: 96px;
}

.vision-div h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #787878;
    
}

.vision-statement{
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #787878;
    max-width: 599px;
    margin-top: 32px;
    margin-bottom: 48px;
}

.info{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #787878;

    
}

.info hr{
    max-width: 299px;
    margin-top: 13px;
    background: rgba(120, 120, 120, 0.2);
    

}

.info-img{
    margin-right: 11px ;
    padding-bottom: 5px;
    

}

.info hr{
    background: rgba(120, 120, 120, 0.2) !important;
}

.to-disc-link:hover{
    text-decoration: none;
}
.to-disc-link{
    color: #787878;
    text-decoration: none;
}

*{
    scroll-behavior: smooth;
}

@media only screen and (max-width:767px){

    .vision-div h1{
        font-size: 30px;
        line-height: 38px;

    }

    .vision-statement{

        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
    }

    .info{
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

}