.header{
    background: #FAFAFA;
    padding-top: 20px; 
    padding-bottom: 24px;
    height: auto;
    min-height: 90vh;
}

.header h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #787878;
}

.sub-heading{
    margin-top:8px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #787878 !important;
    opacity: 0.75 !important;
}

.header a{
    color: #787878;
    opacity: 0.75;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.header a:hover{
    text-decoration: none;
    color: #787878 !important;
    opacity: 0.75 !important;
}


.arrow-ml{
    margin-left: 17px;
}

.map{
    margin-top: 18px ;
    max-width: 451px !important;

    /* width: 719px !important; */
}

@media only screen and (max-width: 767px){
    .header{
        padding-top: 24px;
    }
    .header h1{
        font-size: 48px;
        line-height: 56px;

    }

    .sub-heading{
        font-size: 18px;
        line-height: 24px;
    }
}

@media only screen and (min-height: 850px){
    .map{
        max-width: 55vh !important;
    }

}

@media only screen and (max-width: 991px){
    .map{
        max-width: 330px !important;
    }
}

@media only screen and (min-width: 1920px){
    .map{
        max-width: 720 !important;
    }

    .header{
        padding-top: 80px;
    }

    .header h1{
        font-size: 76px;
        line-height: 92px;
    }

    .sub-heading{
        font-size: 24px;
        line-height: 32px;
    }

    .header a{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
    }
}


#progress-div{

    margin-left: 10vw;
    margin-right: 10vw;
}


.toast-content{
    
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.toast-content a{
    color: white;
    text-decoration: underline !important;
    font-style: normal !important;
}

.toast-content a:hover{
    color: white !important;
    text-decoration: underline !important;
    
}

.Toastify__toast-container--bottom-right{
    min-width: 500px;
    
/* Note: backdrop-filter has minimal browser support */

}

@media only screen and (max-width: 400px){
    .Toastify__toast-container--bottom-right{
        min-width: 30vw;
        
    /* Note: backdrop-filter has minimal browser support */
    
    }
}

.Toastify__toast--dark{
    background: rgba(86, 86, 86, 0.85) !important;
backdrop-filter: blur(8px) !important; 
border-radius: 4px !important;

}