.tablet{
    width: 603px;
}

.tablet-container{
    width: 603px !important;

}

.switch-bar-padding-bottom{
    padding-bottom:41px;
}
.switch-bar-padding-top{
    padding-top:41px;
}

.switch-bar-padding-between{
    padding-top:50px;
}
#stake{
    background-image: url('/assets/images/Specs/bg-stake.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    /* height: 669px; */
}
.reward-heading{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.reward-text{
    color: white;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    opacity: 0.75;
    margin-top: 16px;
}

.desktopview{
    display: block;
}

.mobileview{
    display: none;
}

.apy-info{
    font-family: "DM Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 32px;
}

.arrow-spec{
    opacity: 0.25;
    transition: .15s;

}

.arrow-spec:hover{
    opacity: 1;
    transition: .15s;

}

.active{
    opacity: 1;
    transition: .15s;
}

.inactive{
    opacity: 0.25;
    transition: .15s;
}

.inactive:hover{
    opacity: 1;
    transition: .15s;
}

.switch-bar-col{
    padding-right: 35px !important;
}

@media only screen and (max-width: 1205px){
    .switch-bar-col{
        padding-right: 15px !important;
    }
}
@media only screen and (max-width: 991px){

    .tab-sec-mobile{
        /* height: 451px; */
    }
    .tablet{
        
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #stake{
        background-image: url('/assets/images/Specs/bg-stake.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 48px;
        padding-bottom: 32px;
        height: auto;
    }

    .desktopview{
        display: none;
    }

    .mobileview{
        display: block;
    }

    .reward-heading{
        font-family: "DM Sans", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 38px;
        color: #FFFFFF !important;
    }
    
    .reward-text{
        font-family: "DM Sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 24px;
        color: #FFFFFF !important;
        opacity: 0.75;
    }
    .apy-info{
        font-family: "DM Sans",sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 0px;
    }
}