
.options-div{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #FAFAFA;
}


.options-div h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #262626;

}

.options-values{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #262626;

    
    margin-top: 64px;
    margin-bottom: 64px;
}

.to-disc-link{
    color: #262626;

}
.to-disc-link:hover{
    color: #262626 !important;

}

/* hover underline */

a.left-options
{
    position: relative;
}

a.left-options:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -20px;
  left: -35px;
  background-color: #565656;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left-options:hover:before {
    visibility: visible;
    width: 299px;
  }


.options-values .flex-column{
    margin-right: 50px;
    
}


.info hr{
    max-width: 299px;
    margin-top: 13px;
    background: rgba(120, 120, 120, 0.2);
    

}

@media only screen and (max-width:991px){
    .options-values .flex-column{
        margin-right: 0px;
        
    }
}

@media only screen and (max-width:767px){
    .options-div h1{

        font-size: 30px;
        line-height: 38px;
    }

    .options-values{
        font-size: 18px;
        line-height: 24px;

    }
}