.progress-title{
    margin-top: 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #565656;
}

.progress-subtitle{
    margin-top: 8px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #787878;

}


#myProgress {
    margin-top: 24px;
    width: 100%;
    background: rgba(120, 120, 120, 0.2);

}
  
#myBar {
    width: 30px;
    height: 2px;
    background: #565656;
    opacity: 0.5;
}
